body {
    background-color: #000000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}



header {
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    height: 500px;
}

.bg-gray {
    background-color: gray;

}

.bg-white {
    background-color: #ffffff;
}

